<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertErrorsToException="true"
         convertNoticeToException="true"
         convertWarningsToException="true"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./psr7-framework</directory>
        </whitelist>
    </filter>
</phpunit>